# Node.js
node_modules/
npm-debug.log
.env

# Editor directories and files
.idea
.vscode
*.sublime-workspace

# Optional npm cache & logs
.npm
*.log

# Optional eslint cache
.eslintcache

# Optional Windows files
Thumbs.db
Desktop.ini